<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
{% import 'person_macro.html' as person_macro %}
<body>
    <h1>Welcome {{user}}</h1>
    <p>The first usage of a template.</p>
    <!-- if else -->
    <h2>if-else</h2>
    <p>
        {% if text %}
        {{text}}
        {% else %}
        Es wurde keine Text übergeben.
        {% endif %}
    </p>
    <!-- for loop -->
    <h2>for-loop</h2>
    <ul>
        {% for n in numbers %}
        <li>{{n}}</li>
        {% endfor %}
    </ul>
    <!-- macro -->
    <h2>marco</h2>
    {{ person_macro.render(person) }}

</body>
</html>